@import "../../styles/constants.sass"

.questions
    .content
        padding: 10px
    &__list
        li
            padding-bottom: 15px
            margin-bottom: 15px
            border-bottom: 1px solid $grey
    &__add-button
        text-align: right
        margin-top: 10px